* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: #E78895;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 12px 20px; /* Increase padding for a bigger border edge */
    margin-bottom: 7px;
    background-color: #BED1CF;
    color: #ffffff;
    border-radius: 8px; /* Add border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Adjust box-shadow for a pop-up effect */
    transition: box-shadow 0.3s ease; /* Add transition for smooth hover effect */
  }
  
  .menu li:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .footer {
    background-color: #E78895;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 1%;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }


.box {
    margin-top: 1%;
    background-color: #ffcf9f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box1 {
    margin: 0 auto;
    margin-bottom: 5%;
    height: 60%;
    border: transparent;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

}

.box2 {
    margin: 0 auto;
    margin-bottom: 5%;
    border-radius: 10px;
    width: 200px;
    height: 40%;
    border: transparent;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

body {
  background-color: #ffe3cd;
}

.animated_rainbow_1 {
    font-size: 30px;
    font-family: Arial Black, Gadget, sans-serif;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -500px 0
    }
}